body {
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;

    .container {
        border: 1px solid rgb(115, 115, 115);
        width: 660px;
        border-radius: 5px;

        .enter {
            border: none;
            color: rgb(213, 217, 224);
        }

        .todo {
            ul {
                padding-left: 0;

                li {
                    a {
                        margin-left: 430px;
                    }
                }
            }
        }
    }
}